@import url(reset.css);
/*
handlee y montserrat 400 700
font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;

cómo escribirlas cuando se usen:
font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

*{
    box-sizing: border-box;

}

:root{
    --color-principal: #fa573a;
    --color-secundario: #21242e;
    --gris: #aaa;
    --fuentePrincipal:'Montserrat', sans-serif;
    --fuenteSecundaria: 'Handlee', cursive;
    --anchoMaximo:1100px;
    
}

body{
    font-family: var(--fuentePrincipal);
    font-size: 1em;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

.container{
    max-width: var(--anchoMaximo);
    margin: 0 auto;
}

.row {
    display: flex;
}


/* hasta aquí es todo código esencial de cualquier proyecto. es ya responsive. container es la clase encorsetada y row el sistema fluido*/

/* header */
header .nav-top{
    background-color: var(--color-secundario);
    padding: 20px 10px;
}
header .nav-top a{
    color: white;
    font-size: 120%;
    text-decoration: none;
}

header .nav-top a span{
    display: none;
}

header .nav-top a i{
    color: var(--color-principal);
}

header .nav-top .row{
    justify-content: space-between;
}

header nav{
    padding: 20px 10px;
}

header .hamburguesa{
    width: 50px;
    cursor: pointer;

}

header .hamburguesa div{
    border-top: 2px solid var(--gris);
    margin: 10px;

}

header nav .row{
    flex-wrap: wrap;
    justify-content: space-between;
}
header nav ul{
    width: 100%;
}

header nav .logo{
    max-width: 110px;
}

header nav ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    color: var(--gris);
    border-bottom: 1px solid var(--gris);    
}
header nav ul li a:hover{
    color:var(--color-principal);
}
header nav ul li .activo{
    color: var(--color-principal);
}

@media(min-width:48em){
    header .nav-top a span{
        /* no podemos ponerlo como block porque el span se convierte en bloque y me lo descuadra todo, debe ser inline para que se queden en línea */
        display: inline;
    }
}

@media(min-width:62.750em){
    header .hamburguesa{
        display: none;
    }
    header nav ul{
        width: auto;

    }
    header nav ul li{
        display: inline-block;
    }
    header nav ul li a{
        padding: 5px 20px;
        border-bottom: none;
    }

}

/* fin header */


/* inicio footer*/
footer{
    background-color: var(--color-secundario);
    padding: 20px 10px;
    color: white;
    text-align: center;
    position:fixed;
    width:100%;
    margin-top: 20px;
    bottom: 0px;
    /* cuando cambiamos de posición tenemos que volver a definir el ancho, porque se pierde. le ponemos margin top para que no se monte sobre los elementos que quedarán por detrás */
}

footer a {
    color:white;
}

footer a:hover{
    text-decoration: none;
}

@media(min-width:48em){
    footer{
        text-align: left;
    }
}


/* fin footer  */