@import url(reset.css);
/*
handlee y montserrat 400 700

cómo escribirlas cuando se usen:
font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

*{
    box-sizing: border-box;

}

:root{
    --color-principal: #fa573a;
    --color-secundario: #21242e;
    --gris: #aaa;
    --fuentePrincipal:'Montserrat', sans-serif;
    --fuenteSecundaria: 'Handlee', cursive;
    --anchoMaximo:1100px;
    
}

body{
    font-family: var(--fuentePrincipal);
    font-size: 1em;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

.container{
    max-width: var(--anchoMaximo);
    margin: 0 auto;
}

.row {
    display: flex;
}


        /* hasta aquí es todo código esencial de cualquier proyecto. es ya responsive. container es la clase encorsetada y row el sistema fluido*/

/* header */
header .nav-top{
    background-color: var(--color-secundario);
    padding: 20px 10px;
}
header .nav-top a{
    color: white;
    font-size: 120%;
    text-decoration: none;
}

header .nav-top a span{
    display: none;
}

header .nav-top a i{
    color: var(--color-principal);
}

header .nav-top .row{
    justify-content: space-between;
}

header nav{
    padding: 20px 10px;
}

header .hamburguesa{
    width: 50px;
    cursor: pointer;

}

header .hamburguesa div{
    border-top: 2px solid var(--gris);
    margin: 10px;

}

header nav .row{
    flex-wrap: wrap;
    justify-content: space-between;
}
header nav ul{
    width: 100%;
}

header nav .logo{
    max-width: 110px;
}

header nav ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    color: var(--gris);
    border-bottom: 1px solid var(--gris);    
}
header nav ul li a:hover{
    color:var(--color-principal);
}
header nav ul li .activo{
    color: var(--color-principal);
}

@media(min-width:48em){
    header .nav-top a span{
        /* no podemos ponerlo como block porque el span se convierte en bloque y me lo descuadra todo, debe ser inline para que se queden en línea */
        display: inline;
    }
}

@media(min-width:62.750em){
    header .hamburguesa{
        display: none;
    }
    header nav ul{
        width: auto;

    }
    header nav ul li{
        display: inline-block;
    }
    header nav ul li a{
        padding: 5px 20px;
        border-bottom: none;
    }

}

/* fin header */

/* hero */

.hero{
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-color: #999;
    background-blend-mode: multiply;
    padding: 15% 10px;
}

.hero h1{
    font-family: var(--fuenteSecundaria);
    color: white;
    font-size: 2.5em;
}

.hero h2{
    color: var(--color-principal);
    font-size: 1.5em;
    margin: 1em 0;
}

.hero p{
    color: white;
    font-size: 1.10em;
}

.boton{
    display: inline-block;
    background-color: var(--color-principal);
    color: white;
    padding: 1.15em;
    text-decoration: none;
    margin: 1em 0;
    border: 1px solid var(--color-principal);
}
.boton:hover{
    background-color: transparent;
    color:var(--color-principal);  
}

.boton i{
    transition: 0.5s;
}
.boton:hover i {
    transform: translateX(5px);
}
        /* no pongo .hero .boton para poder reutilizar esta clase después y no aplicar el camino de herencia */

.hero ul li{
    display: inline-block;
    font-size: 2em;
    margin-right: 1em;
}

.hero ul li a{
    color: white;
}


/* fin hero */


/* inicio main section our services  */
main section{
    padding: 2.125em 0.825em;
}
    /* aplicamos ese padding a todas las secciones */

main section h2{
    color: black;
    font-family: var(--fuenteSecundaria);
    font-size: 2em;
    text-align: center;
}
main section h2 span{
    color: var(--color-principal);
}

main section .underline{
    position: relative;
    width: 5em;
    margin: 0 auto;
    color: var(--color-principal);
    font-weight: 700;
    margin-bottom: 2em;
    text-align: center;
}

main section .underline hr{
    position: absolute;
    width: 100%;
    /* deja de verse porque cambiamos el elemento de capa. le tenemos que decir que ocupe el 100% de su contenedor para que la línea se vuelva a ver */
    top: -1px;
    border-color: var(--color-principal);

}


main #ourservices .row{
    flex-wrap: wrap;
}

main #ourservices article{
    border-bottom: 1px solid var(--gris);
    padding: 1.825em 0;
}

main #ourservices article div i{
    color: var(--color-principal);
    font-size: 2em;
    border: 2px solid var(--color-principal);
    padding: 0.8rem;
    /* cuidado con los em, heredan del font-size del propio elemento. si no hay font-size, hereda del padding del padre y se suma. es mejor usar rem entonces en esta regla para que no herede de nada y tengamos mayor control sobre esta medida */
}

main #ourservices article .fa-truck{
    transform: rotateY(180deg);
}

main #ourservices article h3{
    margin: 1em 0;
    font-weight: 700;
}

.enlace{
    text-decoration: none;
    color: var(--color-principal);
    margin-top: 1em;
    display: block;
}


@media(min-width:48em){
    main #ourservices article{
        width: 50%;
        border-bottom: none;
        border-left: 1px solid var(--gris);
        padding: 1.825em;
        margin-bottom: 1em;
    }
    main #ourservices article:last-child{
        width: 100%;
    }
}

@media(min-width:62.750em){
    main #ourservices article, main #ourservices article:last-child{
        width: 33.333%;
        /* como hemos puesto el box-sizing, NO tenemos que restar el margin y padding a cada elemento. tenemos que sobreescribir la norma de main ourservices article: last child porque ES MÁS ESPECÍFICA. Y SI NO LA SOBREESCRIBIMOS, NO APLICA */
    }
}


/* fin main section our services  */

/* inicio main section about us  */
main #aboutus{
    padding-bottom: 90px;
    /* para que se separe del footer  */
}
main #aboutus .row{
    flex-wrap: wrap;
}

main #aboutus h3{
    font-weight: 700;
}

main #aboutus h4{
    margin: 1em 0;
    color: var(--color-principal);
}

main #aboutus .marco{
    margin: 15px 0;
    border: 3px solid var(--color-principal);
    transform: rotateZ(10deg);
    width: 90%;
    transition: 1s;
}

main #aboutus .marco img{
    transform: rotateZ(-10deg);
    transition: 1s;
}
main #aboutus .columna:hover .marco, main #aboutus .columna:hover .marco img{
    transform: rotateZ(0deg);
    
}



@media(min-width:48.000em){
    main #aboutus .marco{
        margin: 0 15px;
    }
    main #aboutus .columna:first-child{
        width:40%;
    }
    main #aboutus .columna:last-child{
        width:60%;
    }
}

/* fin main section about us  */


/*modificado desde aquí: inicio section menú*/
#menu{
    background-color: var(--color-secundario);
    color: white;
}
#menu h2{
    color: inherit;
}
#menu nav ul a{
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}
#menu nav ul a li{
    border-radius: 5px 5px 5px 5px;
    padding: 1.1em 1em;
}

#menu nav ul a li:hover{
    background-color: var(--color-principal);
}





/*fin section menú*/


/* inicio footer*/
footer{
    background-color: var(--color-secundario);
    padding: 20px 10px;
    color: white;
    text-align: center;
    position:fixed;
    width:100%;
    margin-top: 20px;
    bottom: 0px;
    /* cuando cambiamos de posición tenemos que volver a definir el ancho, porque se pierde. le ponemos margin top para que no se monte sobre los elementos que quedarán por detrás */
}

footer a {
    color:white;
}

footer a:hover{
    text-decoration: none;
}

@media(min-width:48em){
    footer{
        text-align: left;
    }
}

/* fin footer  */